<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="layout/layout"
th:replace="~{layout/layout::layout(~{::body/content()})}">
<head>
    <title>Index</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Welcome to the Dashboard</h1>
        <p>This is all Users List</p>
        <table  class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col">id</th>
                    <th scope="col">username</th>
                    <th scope="col">email</th>
                </tr>
            </thead>            
            <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.id}" />
                    <td th:text="${user.username}" />
                    <td th:text="${user.Email}" />        
                </tr>
            </tbody>
        </table>
        <p>Please create user <a th:href="@{/user/create}">here</a></p>
    </div>
</body>
</html>
