<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Side Menu</title>
</head>
<body>
    <div layout:fragment="sideMenu" class="border-end">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action">Profile</a>
            <a href="#" class="list-group-item list-group-item-action">Settings</a>
        </div>
    </div>
</body>
</html>
